<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <header>
        <div class="logo">
            <img src="/page/Deutschlands_adler.png" alt="Adler Logo">
            Adler
        </div>
        <nav>
            <a href="#">Вхід</a>
        </nav>
    </header>
    

    <main>
        <h1>Вивчайте мови безкоштовно</h1>
        <p>Ефективний та веселий спосіб вивчення мов!</p>
        <a href="#" class="btn large">Почати зараз</a>
    </main>

    <footer>
        <p>© 2025 Adler. Усі права захищені.</p>
    </footer>

</body>
</html>
